.sass-cache/
*.css.map
*.sass.map
*.scss.map
node_modules/

# Obsidian Designn Vault
stoic-theme-design-vault/.obsidian/themes/Atom.css
stoic-theme-design-vault/.obsidian/themes/Stoic.css
stoic-theme-design-vault/publish.css
