$font-size-h1: 46px;
$font-size-h2: 26px;
$font-size-h3: 22px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 12px;
$font-size-text: 14px;
$font-size-text--book: 18px;
$font-size-tag: 12px;
$line-height-text: 1.5em;

@mixin font-style-h1 {
  font-family: 'Permanent Marker';
  font-size: $font-size-h1;
  line-height: 1;
  margin-bottom: .5em;
}

@mixin font-style-h2 {
  font-family: 'Permanent Marker';
  border-bottom: 1px dashed var(--text-normal);
  font-size: $font-size-h2;
  padding-bottom: 0.25em;
}

@mixin style-internal-link() {
  transition: all $trans-base ease-in-out;
  text-decoration: none;

  &:hover {
    background: var(--text-selection);
    color: var(--text-accent);
    border-bottom: 1px solid var(--text-accent);
  }
}
