@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  --default-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.theme-dark {
  --text-accent: #2ea043;
  --text-accent-hover: #3fb950;
  --background-primary: #0d1117;
  --background-primary-alt: #13181f;
}

.theme-light {
  --text-accent: #0366d6;
  --text-accent-hover: #58a6ff;
}

body .markdown-source-view blockquote,
body .markdown-source-view pre,
body .markdown-source-view code,
body .markdown-source-view p,
body .markdown-source-view span,
body .markdown-source-view li,
body .markdown-preview-view blockquote,
body .markdown-preview-view pre,
body .markdown-preview-view code,
body .markdown-preview-view p,
body .markdown-preview-view span,
body .markdown-preview-view li {
  font-size: 14px;
  line-height: 1.5em;
}
body .markdown-source-view {
  font-family: "SF Mono", monospace;
}
body .markdown-preview-view {
  padding: 20px 75px 50px;
}
body .markdown-preview-view .page-header {
  display: none;
}
body .markdown-preview-view.book {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body .markdown-preview-view.book blockquote,
body .markdown-preview-view.book code,
body .markdown-preview-view.book p,
body .markdown-preview-view.book li {
  line-height: 1.5em;
  font-size: 18px;
}
body .markdown-preview-view h1,
body .markdown-preview-view h2 {
  font-weight: 600;
}
body .markdown-preview-view h1 {
  font-family: "Permanent Marker";
  font-size: 34px;
  line-height: 40px;
}
body .markdown-preview-view h2 {
  font-family: "Permanent Marker";
  border-bottom: 1px dashed var(--text-normal);
  font-size: 26px;
  padding-bottom: 0.25em;
}
body .markdown-preview-view h3 {
  font-size: 22px;
  font-weight: 500;
}
body .markdown-preview-view h4,
body .markdown-preview-view h5,
body .markdown-preview-view h6 {
  text-transform: uppercase;
}
body .markdown-preview-view h4 {
  font-size: 18px;
  font-weight: 400;
}
body .markdown-preview-view h5,
body .markdown-preview-view h6 {
  font-weight: 300;
}
body .markdown-preview-view h5 {
  font-size: 16px;
}
body .markdown-preview-view h6 {
  font-size: 12px;
  color: var(--text-muted);
}
body .markdown-preview-view ul.contains-task-list .task-list-item .task-list-item-checkbox {
  border-radius: 3px;
  top: -1px;
  filter: none;
}
body .markdown-preview-view ul li:first-of-type {
  margin-top: 0.25em;
}
body .markdown-preview-view code {
  line-height: 1.25em;
}
body .markdown-preview-view blockquote {
  background: var(--text-selection);
  border-left: none;
  padding: 2em;
  margin: 1em 0;
  border-radius: 15px;
  color: var(--text-normal);
  border: none;
}
body .markdown-preview-view blockquote,
body .markdown-preview-view pre[class*=language-] {
  margin: calc((1rem * 2) * 1) 0;
}
body .markdown-preview-view .internal-link {
  transition: all 0.5ms ease-in-out;
  text-decoration: none;
}
body .markdown-preview-view .internal-link:hover {
  background: var(--text-selection);
  color: var(--text-accent);
  border-bottom: 1px solid var(--text-accent);
}
body .markdown-preview-view .cm-hashtag,
body .markdown-preview-view .tag {
  font-size: 12px;
  font-weight: normal;
  padding: 0px 5px 1px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -1px;
  background: rgba(27, 31, 35, 0.05);
  font-family: var(--font-monospace);
  color: var(--text-accent);
  border-radius: 6px;
}
body.theme-light :not(pre) > code[class*=language-],
body.theme-light pre[class*=language-] {
  background: var(--background-primary);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: calc((1rem * 2) * 1);
  scrollbar-width: none;
}
body.theme-light :not(pre) > code[class*=language-]::-webkit-scrollbar,
body.theme-light pre[class*=language-]::-webkit-scrollbar {
  display: none;
}
body .site-footer {
  display: none;
}
