// Github Colors
$github-green: #2ea043;
$github-green-bright: #3fb950;
$github-orange: #fca400;
$github-blue: #0366d6;
$github-blue-bright: #58a6ff;
$github-purple: #8957e5;
$github-red: #f85149;
$github-white: #f0f4f8;
$github-white-dark: #c9d1d9;
$github-dark: #0d1117;
$github-dark-bright: #13181f;

// General
$color-black: #000000;
$color-white: #ffffff;

$stoic-white: #f0f4f8;
$stoic-white-dark: #c9d1d9;
$stoic-gray-bright: #c8c6c6;
$stoic-gray: #bebfbf;
$stoic-gray-dark: #838c96;
$stoic-green: #2ea043;
$stoic-green-bright: #3fb950;
$stoic-orange: #fca400;
$stoic-blue-dark: #364050;
$stoic-blue: #57698a;
$stoic-blue-bright: #697ca0;
$stoic-purple: #8957e5;
$stoic-red: #f85149;
$stoic-dark: #0d1117;
$stoic-dark-bright: #13181f;
