$color-white: #ffffff;

$stoic-white: #f0f4f8;
$stoic-white-dark: #c9d1d9;

$stoic-beige-light: #c3c3c3;
$stoic-beige: #bebfbf;
$stoic-beige-dark: #838c96;

$stoic-gray: #93979b;
$stoic-gray-dark: #5c6268;

$stoic-green-light: #86b98d;
$stoic-green: #618d69;

$stoic-orange: #c7a971;

$stoic-blue-light: #697ca0;
$stoic-blue: #57698a;
$stoic-blue-dark: #364050;
$stoic-blue-darkest: #2f3641;

$stoic-cyan-light: #c2d2dc;

$stoic-red: #b94f49;

$color-black: #000000;
