@import 'mixins';
@import 'typo';
@import 'vars';
@import 'colors';

body {
  --default-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

// Overwrite theme CSS variables
.theme-dark {
  --text-accent: #{$github-green};
  --text-accent-hover: #{$github-green-bright};
  --background-primary: #{$github-dark};
  --background-primary-alt: #{$github-dark-bright};
}

.theme-light {
  --text-accent: #{$github-blue};
  --text-accent-hover: #{$github-blue-bright};
}
