@import 'styles';
@import 'vars';
@import 'colors';

body {
  --default-font: 'Helvetica', -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-default: var(--default-font);
  --font-monospace: 'JetBrains Mono', monospace;
  --font-sans: var(--default-font), sans-serif;
  --font-serif: 'Lora', serif;
  --font-serif-book: 'Lora', serif;
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);

  --font-preview: var(--font-default);
  --font-preview-header: var(--font-default);
  --font-preview-book: var(--font-serif-book);
  --font-preview-book-header: var(--font-serif-book);
  --font-editor: var(--font-monospace);

  --font-size-h1: 32px;
  --font-size-h2: 26px;
  --font-size-h3: 22px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 16px;
  --font-size-text: 16px;
  --font-size-text--book: 16px;
  --font-size-tag: 12px;
  --font-size-code: 14px;
  --font-size-inline-code: 14px;

  --line-height-header: 1;
  --line-height-text: 1.5;
}

// Overwrite theme CSS variables
.theme-dark {
  --background-primary: #{$stoic-blue-darkest};
  --background-primary-alt: #{$stoic-blue-light};
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --background-ternary: #{$stoic-blue};
  --background-ternary-alt: #{$stoic-blue-dark};
  --background-accent: #{$stoic-blue-light};
  --background-modifier-border: #{$stoic-gray-dark};
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #{$stoic-blue};
  --text-accent-hover: #{$stoic-blue-light};
  --text-normal: #{$stoic-white-dark};
  --text-inline-code: #{$stoic-blue-light};
  --text-muted: #888;
  --text-faint: rgb(81, 86, 99);
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #4c78cc;
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;

  --black: #000000;
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
  --white: #ffffff;
}

.theme-light {
  --background-primary: #{$stoic-gray};
  --background-primary-alt: #{$stoic-gray-dark};
  --background-secondary: #{$stoic-gray-light};
  --background-secondary-alt: #{$stoic-gray-light};
  --background-ternary: #{$stoic-beige-light};
  --background-ternary-alt: #{$stoic-beige};
  --background-accent: #{$stoic-gray-light};
  --background-modifier-border: #{$stoic-gray-dark};
  --background-modifier-form-field: #{$stoic-gray-light};
  --background-modifier-form-field-highlighted: #{$stoic-white};
  --background-modifier-box-shadow: rgba(#{$stoic-blue-dark}, 0.75);
  --background-modifier-success: #{$stoic-green};
  --background-modifier-error: #{$stoic-red};
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #{$stoic-red};
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #{$stoic-blue};
  --text-accent-hover: #{$stoic-blue-light};
  --text-normal: #{$stoic-blue-dark};
  --text-inline-code: #{$stoic-blue-lightest};
  --text-muted: #{$stoic-blue-light};
  --text-faint: #{$stoic-blue-light};
  --text-error: #{$stoic-red};
  --text-error-hover: #{$stoic-red-light};
  --text-highlight-bg: #{$stoic-selection};
  --text-selection: #{$stoic-selection};
  --text-on-accent: #{$stoic-white-dark};
  --interactive-normal: #{$stoic-gray};
  --interactive-hover: #{$stoic-gray-light};
  --interactive-accent-rgb: 21, 146, 255;
  --interactive-accent: #{$stoic-blue};
  --interactive-accent-hover: #{$stoic-blue-light};
  --scrollbar-active-thumb-bg: #{$stoic-gray-darkest};
  --scrollbar-bg: #{$stoic-gray-darkest};
  --scrollbar-thumb-bg: #{$stoic-blue-darkest};
  --panel-border-color: #{$stoic-white-dark};

  --black: #{$stoic-black};
  --gray-1: #{$stoic-gray};
  --gray-2: #{$stoic-gray-light};
  --red: #{$stoic-red};
  --orange: #{$stoic-orange};
  --green: #{$stoic-green};
  --aqua: #{$stoic-aqua};
  --purple: #{$stoic-beige};
  --blue: #{$stoic-blue};
  --yellow: #{$stoic-yellow};
  --white: #{$stoic-white};
}
