@mixin sub-theme-specific-font-styles($view) {
  @if $view == 'preview' {
    font-family: var(--font-preview-header);
  } @else if $view == 'editor' {
    font-family: var(--font-mono);
  } @else if $view == 'book' {
    font-family: var(--font-preview-book-header);
    text-align: center;
  }

  .internal-link {
    border-bottom: none;
  }
}

@mixin font-style-h1($view) {
  font-size: var(--font-size-h1);
  font-weight: 900;
  line-height: var(--line-height-header);
  margin-bottom: 0.5em;

  @include sub-theme-specific-font-styles($view);
  @content;
}

@mixin font-style-h2($view) {
  font-size: var(--font-size-h2);
  font-weight: 600;
  border-bottom: style-border();
  padding-bottom: 0.25em;
  margin: 0.75em 0 0.35em;

  @include sub-theme-specific-font-styles($view);
  @content;
}

@mixin font-style-h3($view) {
  font-size: var(--font-size-h3);
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0.5em;

  @include sub-theme-specific-font-styles($view);
  @content;
}

@mixin font-style-h4($view) {
  font-size: var(--font-size-h4);
  font-weight: 500;
  margin-bottom: 0.5em;

  @include sub-theme-specific-font-styles($view);
  @content;
}

@mixin font-style-h5($view) {
  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: 0.5em;

  @include sub-theme-specific-font-styles($view);
  @content;
}

@mixin font-style-h6($view) {
  font-size: var(--font-size-h6);
  font-weight: 500;
  margin-bottom: 0.5em;

  @include sub-theme-specific-font-styles($view);
  @content;
}

// TODO Improve Styling
@mixin style-internal-link() {
  $link-color: var(--text-accent);
  $link-color-hover: var(--text-selection);

  text-decoration: none;
  color: $link-color;
  transition: all $trans-fast $ease-out-expo;

  &:hover {
    background: $link-color-hover;
    border-bottom: style-border(var(--text-accent));
  }
}

@mixin style-paragraph() {
  font-family: var(--font-preview);
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
}

// TODO Improve Styling
@mixin style-external-link() {
  transition: all $trans-fast $ease-out-expo;
  color: var(--text-normal);
  background-image: none;

  &:hover {
    color: var(--text-accent);
  }
}

@mixin style-checkbox() {
  $checkbox-size: 14px;
  $checkbox-radius: 2.5px;

  border-radius: $checkbox-radius;
  top: 5px;
  filter: none;
  position: relative;
  appearance: none;
  transition: all $trans-base ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $checkbox-radius;
    background: var(--background-primary);
    border: style-border(var(--background-primary-alt));
    width: $checkbox-size;
    height: $checkbox-size;
  }

  &:checked {
    background: var(--background-primary-alt);

    &::after {
      content: '✗';
      color: var(--text-normal);
      border: style-border(var(--text-normal));
      line-height: $checkbox-size;
      text-align: center;
    }
  }
}

@mixin style-tag {
  background: var(--background-primary-alt);
  color: var(--text-normal);
  font-size: var(--font-size-tag);
  font-weight: normal;
  padding: 1px 4px 2px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -1px;
  font-family: var(--font-monospace);
  border-radius: 3px;
  text-decoration: none;
}

@mixin style-inline-code($view) {
  @if $view == 'source' {
    color: var(--text-inline-code);
  }

  @if $view == 'preview' {
    background: var(--background-primary-alt);
    color: var(--text-inline-code);
    font-family: var(--font-monospace);
    font-size: var(--font-size-inline-code);
    line-height: 1.25em;
    padding: 1px 4px 1px;
    position: relative;
    top: -1px;
  }
}

@mixin style-blockquote {
  @include style-box-shadow();

  background: var(--background-secondary);
  position: relative;
  font-size: var(--font-size-text);
  font-family: var(--font-sans);
  color: var(--text-normal);
  padding: $space-m $space-l;
  margin: $space-l 0;
  border-radius: $border-radius 0 $border-radius 0;
  border: 0px;
  overflow: hidden;

  & > *:first-child {
    font-style: italic;

    &::first-letter {
      font-size: var(--font-size-h2);
      line-height: 1;
    }
  }

  &::before {
    $quote-size: calc(var(--font-size-h1) * 5);

    position: absolute;
    top: calc(#{$quote-size} / -1.75);
    left: calc(#{$quote-size} / -10);
    content: '❜';
    font-size: $quote-size;
    color: var(--text-normal);
    opacity: 0.25;
  }

  * {
    line-height: calc(var(--line-height-text) * 1.25);
  }
}

@function style-border($color: var(--text-normal)) {
  @return 1px dashed $color;
}

@mixin style-markdown-embed {
  $padding-vertical: 10px;
  $padding-horizontal: 10px;

  border: 1px solid var(--background-modifier-border);
  border-radius: $border-radius;
  padding: 4px 0;
  margin: 28px 0;

  .markdown-embed {
    &-title {
      text-align: left;
      padding: $padding-vertical $padding-horizontal;
    }

    &-content {
      .markdown-preview-view {
        max-height: none;
        padding: $padding-vertical $padding-horizontal;
      }
    }

    &-link {
    }
  }
}

@mixin style-box-shadow($hidden: false) {
  transition: box-shadow $trans-fast $ease-out-expo;
  box-shadow: 0 15px 30px
    transparentize($color: $stoic-blue-darkest, $amount: 0.75);

  @if $hidden == true {
    box-shadow: 0 15px 30px transparent;
  }
}

@mixin style-pre {
  @include style-box-shadow();

  background: var(--background-secondary);
  border-radius: $border-radius;
  padding: $space-l;
  overflow-x: auto;
  filter: grayscale(25%);

  * {
    font-size: var(--font-size-code);
    text-shadow: 0 1px rgba(black, 0.25);
    background: inherit;
  }

  ::selection {
    background: $stoic-selection;
  }

  &::-webkit-scrollbar {
    display: block;
    height: $border-radius;
    -webkit-border-radius: 0 0 $border-radius $border-radius;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--background-primary);
    height: $border-radius;
    -webkit-border-radius: 0 0 $border-radius $border-radius;
    border-radius: 0 0 $border-radius $border-radius;
  }

  @media print {
    box-shadow: none;
  }
}
