@mixin font-family-header($view) {
  @if $view == "preview" {
    font-family: var(--default-font);
  } @else if $view == "editor" {
    font-family: var(--font-mono);
  } @else if $view == "book" {
    font-family: var(--font-sans);
  }
}

@mixin font-style-h1($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: var(--line-height-header);
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h2($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h2);
  font-weight: 600;
  border-bottom: 1px solid var(--text-normal);
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h3($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h3);
  font-weight: 600;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h4($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h4);
  font-weight: 500;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h5($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h6($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h6);
  font-weight: 500;
  margin-bottom: 0.5em;

  @content;
}

// TODO Improve Styling
@mixin style-internal-link() {
  transition: all $trans-fast ease-in-out;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-normal);

  &::before {
    content: "❝";
    font-size: 1.15em;
    line-height: 1;
    margin-right: 0.05em;
    transform: rotate(40deg);
  }

  &:hover {
    &::before {
      color: var(--text-accent);
    }
  }
}

// TODO Improve Styling
@mixin style-external-link() {
  transition: all $trans-fast ease-in-out;
  color: var(--text-normal);
  background-image: none;

  &:hover {
    opacity: 0.75;
  }
}
