@mixin font-family-header($view) {
  @if $view == "preview" {
    font-family: var(--font-preview-header);
  } @else if $view == "editor" {
    font-family: var(--font-mono);
  } @else if $view == "book" {
    font-family: var(--font-preview-book-header);
  }
}

@mixin font-style-h1($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h1);
  font-weight: 900;
  line-height: var(--line-height-header);
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h2($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h2);
  font-weight: 600;
  border-bottom: 1px dashed var(--text-normal);
  padding-bottom: 0.25em;
  margin: 0.75em 0 0.35em;

  @content;
}

@mixin font-style-h3($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h3);
  font-weight: 600;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h4($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h4);
  font-weight: 500;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h5($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: 0.5em;

  @content;
}

@mixin font-style-h6($view) {
  @include font-family-header($view);

  font-size: var(--font-size-h6);
  font-weight: 500;
  margin-bottom: 0.5em;

  @content;
}

// TODO Improve Styling
@mixin style-internal-link() {
  $link-color: var(--text-accent);
  $link-color-hover: var(--text-accent-hover);

  text-decoration: none;
  font-weight: bold;
  color: $link-color;
  border-bottom: 1px dashed $link-color;
  transition: all $trans-fast ease-in-out;

  &:hover {
    background: $link-color-hover;
  }
}

@mixin style-paragraph() {
  font-family: var(--font-preview);
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
}

// TODO Improve Styling
@mixin style-external-link() {
  transition: all $trans-fast ease-in-out;
  color: var(--text-normal);
  background-image: none;

  &:hover {
    opacity: 0.75;
  }
}

@mixin style-checkbox() {
  $checkbox-size: 14px;
  $checkbox-radius: 2.5px;

  border-radius: $checkbox-radius;
  top: 5px;
  filter: none;
  position: relative;
  appearance: none;
  transition: all $trans-base ease-in-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $checkbox-radius;
    background: var(--background-primary);
    border: 1px solid var(--background-primary-alt);
    width: $checkbox-size;
    height: $checkbox-size;
  }

  &:checked {
    &::after {
      content: "✗";
      background: var(--background-primary-alt);
      color: white;
      line-height: $checkbox-size;
      text-align: center;
    }
  }
}

@mixin style-tag {
  background: var(--background-primary-alt);
  color: $color-white;
  font-size: var(--font-size-tag);
  font-weight: normal;
  padding: 1px 4px 2px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -1px;
  font-family: var(--font-monospace);
  border-radius: 3px;
  text-decoration: none;
}

@mixin style-inline-code {
  font-size: var(--font-size-inline-code);
  font-family: var(--font-monospace);
  color: $color-white;
  line-height: 1.25em;
  padding: 1px 4px 2px;
  position: relative;
  top: -1px;
}

@mixin style-blockquote {
  font-size: var(--font-size-text);
  font-family: var(--font-sans);
  box-shadow: $box-shadow;
  color: var(--text-normal);
  padding: $space-m $space-l;
  margin: 1em 0;
  border-radius: $border-radius;
  border: 1px solid var(--primary-background-alt);

  p {
    line-height: calc(var(--line-height-text) * 1.25);
  }
}
