body {
  // Sliding panes
  //body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header
  &.plugin-sliding-panes-rotate-header div.workspace > .mod-root {
    & > .workspace-leaf {
      & > .workspace-leaf-content {
        .view-header {
          border-right: 2px solid transparent;
          border-left: 2px solid var(--background-primary-alt);
          background: var(--background-primary);

          & > .view-header-title-container {
            &::before {
              background: transparent;
            }

            &::after {
              background: transparent;
            }
          }
        }
      }

      &.mod-active {
        & > .workspace-leaf-content {
          & > .view-header {
            border-right: 2px solid transparent;
            border-left: 2px solid $color-black;
            background: var(--background-primary);

            & > .view-header-title-container {
              &::before {
                background: transparent;
              }

              &::after {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  .markdown-source-view,
  .markdown-preview-view {
    blockquote,
    pre,
    code,
    p,
    span,
    li {
      font-size: var(--font-size-text);
      line-height: var(--line-height-text);
    }
  }
}
