body {
  // Sliding panes
  //body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header
  &.plugin-sliding-panes-rotate-header div.workspace > .mod-root {
    & > .workspace-leaf {
      & > .workspace-leaf-content {
        .view-header {
          border-right: 2px solid transparent;
          border-left: 2px solid var(--background-primary-alt);
          background: var(--background-primary);

          & > .view-header-title-container {
            &::before {
              background: transparent;
            }

            &::after {
              background: transparent;
            }
          }
        }
      }

      &.mod-active {
        & > .workspace-leaf-content {
          & > .view-header {
            border-right: 2px solid transparent;
            border-left: 2px solid $github-dark;
            background: var(--background-primary);

            & > .view-header-title-container {
              &::before {
                background: transparent;
              }

              &::after {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  .workspace {
    .workspace-tab-header-container {
      background: var(--background-primary);
    }

    .workspace-ribbon {
      background: var(--background-primary);

      &.mod-left {
        &.is-collapsed {
          border-right-color: var(--background-primary-alt);
        }
      }
    }

    .workspace-tabs {
      background: var(--background-primary);

      .workspace-leaf {
        background: var(--background-primary);
      }

      .workspace-tab-header-container {
        .workspace-tab-container-before.is-before-active {
          background: var(--background-primary-alt);

          .workspace-tab-header-inner {
            background: var(--background-primary);
          }
        }

        .workspace-tab-container-inner {
          .workspace-tab-header {
            background: var(--background-primary);

            .workspace-tab-header-inner {
              background: var(--background-primary);
            }

            &.is-after-active {
              background: var(--background-primary-alt);
            }

            &.is-active {
              color: var(--text-muted);

              .workspace-tab-header-inner {
                background: var(--background-primary-alt);
                color: var(--text-muted);
              }
            }
          }
        }
      }
    }
  }

  .status-bar {
    background-color: var(--background-primary);
    border-top: 1px solid var(--background-primary-alt);
  }

  .markdown-source-view,
  .markdown-preview-view {
    blockquote,
    pre,
    code,
    p,
    span,
    li {
      font-size: var(--font-size-text);
      line-height: var(--line-height-text);
    }
  }
}
