body {
    // Sliding panes
    //body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header
    &.plugin-sliding-panes-rotate-header div.workspace > .mod-root {
      & > .workspace-leaf {
        & > .workspace-leaf-content {
          .view-header {
            border-right: 2px solid transparent;
            background: var(--background-primary);
          }
        }
        &.mod-active {
          & > .workspace-leaf-content {
            & > .view-header {
              border-right: 2px solid transparent;
              border-left: 2px solid $color-black;
              background: var(--background-primary);
            }
          }
        }
      }
    }

  .workspace {
    .workspace-leaf-resize-handle {
      background: var(--background-primary);
    }

    .markdown-preview-view {
      padding: 20px 75px 50px;

      .page-header {
        display: none;
      }

      &.book {
        blockquote,
        code,
        p,
        li {
          line-height: $line-height-text;
          font-size: $font-size-text--book;
          font-family: $font-preview-book;
        }
      }

      h1 {
        @include font-style-h1("preview");
      }

      h2 {
        @include font-style-h2("preview");
      }

      h3 {
        @include font-style-h3("preview");
      }

      h4 {
        @include font-style-h4("preview");
      }

      h5 {
        @include font-style-h5("preview");
      }

      h6 {
        @include font-style-h6("preview");
      }

      blockquote,
      pre,
      code,
      p,
      span,
      li {
        font-size: $font-size-text;
        line-height: $line-height-text;
        font-family: $font-preview-text;
      }

      ul {
        &.contains-task-list {
          .task-list-item {
            .task-list-item-checkbox {
              border-radius: 3px;
              top: 3px;
              filter: none;
            }
          }
        }

        li {
          &:first-of-type {
            margin-top: 0.25em;
          }
        }
      }

      code:not([class*="language-"]) {
        color: $color-white;
        line-height: 1.25em;
      }

      blockquote {
        box-shadow: $box-shadow;
        background: $color-black;
        color: $color-white;
        padding: $space-l $space-l;
        margin: 1em 0;
        border-radius: $border-radius;
        border: none;
      }

      blockquote,
      pre[class*="language-"] {
        margin: $space-l 0;
      }

      .internal-link {
        @include style-internal-link();
      }

      .cm-hashtag,
      .tag {
        background: var(--background-primary-alt);
        color: $color-white;
        font-size: $font-size-tag;
        font-weight: normal;
        padding: $space-xs $space-s;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top: -1px;
        font-family: var(--font-monospace);
        border-radius: 3px;
        text-decoration: none;
      }

      :not(pre) > code[class*="language-"],
      pre[class*="language-"] {
        background: var(--background-primary);
        color: inherit;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        padding: $space-l;
        scrollbar-width: none;

        @media print {
          box-shadow: none;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
