body {
  .workspace {
    .workspace-leaf-resize-handle {
      background: var(--background-primary);
    }

    .markdown-preview-view {
      // padding: 20px 75px 50px;

      .page-header {
        display: none;
      }

      &.book {
        h1 {
          @include font-style-h1("book");
        }

        h2 {
          @include font-style-h2("book");
        }

        h3 {
          @include font-style-h3("book");
        }

        h4 {
          @include font-style-h4("book");
        }

        h5 {
          @include font-style-h5("book");
        }

        h6 {
          @include font-style-h6("book");
        }

        blockquote,
        code,
        p,
        li {
          line-height: var(--line-height-text);
          font-size: var(--font-size-text--book);
          font-family: var(--font-serif-book);
        }
      }

      h1 {
        @include font-style-h1("preview");
      }

      h2 {
        @include font-style-h2("preview");
      }

      h3 {
        @include font-style-h3("preview");
      }

      h4 {
        @include font-style-h4("preview");
      }

      h5 {
        @include font-style-h5("preview");
      }

      h6 {
        @include font-style-h6("preview");
      }

      p {
        @include style-paragraph();
      }

      li {
        @include style-paragraph();
      }

      ul {
        &.contains-task-list {
          margin-top: 0;
          padding-inline-start: 30px;

          .task-list-item {
            .task-list-item-checkbox {
              @include style-checkbox();
            }
          }
        }

        li {
          &:first-of-type {
            margin-top: 0.25em;
          }
        }
      }

      code:not([class*="language-"]) {
        @include style-inline-code();
      }

      blockquote {
        @include style-blockquote();
      }

      .internal-link {
        @include style-internal-link();
      }

      .external-link {
        @include style-external-link();
      }

      .cm-hashtag,
      .tag {
        @include style-tag();
      }

      :not(pre) > code[class*="language-"],
      pre[class*="language-"] {
        background: var(--background-primary);
        color: inherit;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        padding: $space-l;
        scrollbar-width: none;

        @media print {
          box-shadow: none;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .frontmatter-container {
        background: var(--background-primary);
      }
    }
  }
}
