@media print {
  .markdown-embed {
    padding-left: 0;
    padding-right: 0;
  }
}

/* page breaks */
@media print {
  h1 {
    page-break-before: always;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }
}
